* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
:root{
    
    /* background colors */
    --bg-primary-color:rgb(13, 13, 13);
    /* text color */
    --bg-text-color:rgb(255, 255, 255);

}
body{
    background: var(--bg-primary-color);
    color: var(--bg-text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.main-cont{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    gap: 20px;
    

    
}
.info-part{
    width: 100%;
    display: flex;
    
    align-items: center;
    justify-content:space-around;
   
    



}
.info-part h3{
    border: 1px solid white ;
    padding: 5px 14px;
    border-radius: 10px;
    text-align: center;
}

.grid-part{
    flex-grow: 1;
    
    
    border: 1px solid white;
    
   
    
    
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(28px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(28px,1fr));
    
    
    
}
.block{
    
    border: 1px solid rgb(97, 97, 97);
    font-size: small;
    
    
}

.fill{
    background: whitesmoke;
}
.food{
    background: greenyellow;
}
.modal{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
   
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
    gap: 24px;

}
.gameStart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.content{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn1{
    padding: 10px 15px;
    background: whitesmoke;
    color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
;
box-shadow: inset 1px 1px 9px rgba(0, 0, 0, 0.9);
}

.btn1:hover{
    scale: 1.2;
    box-shadow: 0px 0px 30px whitesmoke;
}


.gameOver{
    display: none;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.btn2{
    padding: 10px 15px;
    background: whitesmoke;
    color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
;
box-shadow: inset 1px 1px 9px rgba(0, 0, 0, 0.9);
}

.btn2:hover{
    scale: 1.2;
    box-shadow: 0px 0px 30px whitesmoke;
}

.game-over{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}